@media (min-width: 1000px) {
  #sliderContainer {
    width: 300px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
  }

  .label-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  .label-value label {
    margin: 0;
  }

  .input-item input {
    margin-bottom: 3px;
  }

  .input-item span {
    margin-left: 3px;
    font-size: 0.9em;
  }

  .input-group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  #sliderContainer {
    width: 100%;
    height: 48vw;
    display: flex;
    position: fixed;
    box-sizing: border-box;
    margin-right: -10px;
  }

  .input-container,
  .slider-container {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }

  .slider-container {
    align-items: flex-end;
  }

  .input-group {
    display: flex;
    flex-direction: column;
  }

  .input-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 3px;
    justify-content: space-between;
  }

  .label-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  .label-value label {
    margin: 0;
  }

  .input-item input {
    flex: 1;
    margin-bottom: 3px;
    box-sizing: border-box;
  }

  .input-item span {
    margin-left: 3px;
    font-size: 0.9em;
  }

  .input-group-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    box-sizing: border-box;
  }
}
