#sliderContainer {
    width: 100%;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
  }
  
  .label-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px; 
  }
  
  .label-value label {
    margin: 0;
  }
  
  .input-item input {
    margin-bottom: 3px;
  }
  
  .input-item span {
    margin-left: 3px;
    font-size: 0.9em;
  }
  